* {
  box-sizing: border-box; }

html body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%; }

/* Navigation Bar */
#navBar {
  background-color: white;
  width: inherit;
  position: fixed;
  z-index: 1;
  height: 60px; }
  #navBar ul {
    list-style-type: none;
    float: right;
    cursor: pointer;
    margin: 20px 0; }
    #navBar ul li {
      float: left;
      padding-left: 10px; }
      #navBar ul li a {
        color: #000;
        text-decoration: none;
        transition: all ease-in-out .1s; }
      #navBar ul li a:hover {
        color: #40b6ae; }
      #navBar ul li .dropdown {
        position: relative;
        display: inline-block; }
        #navBar ul li .dropdown .dropbtn {
          padding: 12px 16px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          margin-top: -15px;
          outline: none; }
          #navBar ul li .dropdown .dropbtn img {
            width: 60%; }
        #navBar ul li .dropdown .dropdown-content {
          display: none;
          position: absolute;
          min-width: 60px;
          z-index: 1;
          background-color: white; }
          #navBar ul li .dropdown .dropdown-content img {
            width: 100%; }
          #navBar ul li .dropdown .dropdown-content a {
            padding: 12px 16px;
            text-decoration: none;
            display: block; }
      #navBar ul li .dropdown-content a:hover {
        background-color: #f1f1f1; }
      #navBar ul li .dropdown:hover .dropdown-content {
        display: block; }
      #navBar ul li .dropdown:hover .dropbtn {
        background-color: #fff; }
  #navBar img {
    width: 10%;
    outline: none; }

/* Main Picture */
#header {
  background-image: url("http://www.baltictalents.lt/images/new/courseHeader.jpg");
  background-position: center;
  background-position-y: 30%;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 80px; }
  #header .button1 {
    height: 50px;
    overflow: hidden;
    background-color: #e9423b;
    border: none;
    font-weight: bold;
    width: 280px;
    margin-right: 10px; }
  #header .button2 {
    height: 50px;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid white;
    font-weight: bold;
    width: 280px; }
  #header h1 {
    font-size: 60px; }

/* Three Blocks */
#collumns {
  background-color: #f3f7f8;
  padding-top: 50px;
  padding-bottom: 50px; }
  #collumns .col-md-4 {
    width: 370px;
    height: 355px;
    background-color: white; }
  #collumns .col-middle {
    margin: 0 15px 0 15px;
    background-image: url("http://www.baltictalents.lt/images/new/two.png");
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 10px solid #40b6ae; }
    #collumns .col-middle .picture {
      margin: 80px 0 0 130px; }
    #collumns .col-middle p {
      color: #40b6ae;
      text-align: center;
      font-size: 20px;
      margin-top: 20px; }
  #collumns .col-right {
    margin-left: 15px;
    background-image: url("http://www.baltictalents.lt/images/new/one.png");
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 10px solid #78d0cb; }
    #collumns .col-right .picture {
      margin: 90px 0 0 130px; }
    #collumns .col-right p {
      color: #78d0cb;
      text-align: center;
      font-size: 20px;
      margin-top: 20px; }
  #collumns .col-left {
    background-image: url("http://www.baltictalents.lt/images/new/three.png");
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 10px solid #2e837d; }
    #collumns .col-left .picture {
      margin: 80px 0 0 85px; }
    #collumns .col-left p {
      color: #2e837d;
      text-align: center;
      font-size: 20px;
      margin-top: 20px; }

/* Video */
#video {
  background-color: #181c25; }
  #video h4 {
    color: #40b6ae;
    font-size: 21px;
    margin-bottom: 20px; }
  #video p {
    color: #fff;
    width: 60%; }
  #video button {
    color: #fff;
    height: 50px;
    width: 280px;
    overflow: hidden;
    background-color: #e9423b;
    border: none;
    margin-top: -20px; }
  #video video {
    width: 100%;
    margin-top: 40px;
    border: 1px solid #40b6ae; }

/* Accrdion */
#accord {
  background-color: #f6f6f6; }
  #accord h2 {
    font-weight: bold;
    font-size: 25px;
    padding: 20px 0; }
  #accord p {
    color: #848484; }
  #accord button {
    color: white;
    height: 50px;
    border: none;
    background-color: #e9423b;
    width: 450px;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 40px;
    margin-left: 320px; }
  #accord #accordion {
    margin-top: 20px; }
    #accord #accordion .panel-title a {
      text-decoration: none;
      font-weight: bold; }
    #accord #accordion .panel-title a:focus {
      color: #40b6ae; }
    #accord #accordion .panel-heading {
      border-left: 5px solid #848484;
      border-radius: 0;
      background-color: white; }
    #accord #accordion .panel-default {
      border-radius: 0;
      border: none; }
    #accord #accordion .panel-collapse {
      border-left: 5px solid #40b6ae; }
    #accord #accordion .panel-body {
      border: none; }

#payment {
  background-image: url("http://www.baltictalents.lt/images/new/price_bg.jpg");
  padding-bottom: 20px; }
  #payment h4 {
    color: #fff;
    padding: 20px 0;
    font-size: 15px;
    margin-left: 15px; }
    #payment h4 b {
      font-size: 25px;
      margin-right: 25px; }
  #payment h3 {
    color: #fff;
    padding: 20px 0;
    font-size: 25px; }
  #payment .col-md-12 {
    background-color: white;
    height: 50px;
    padding-top: 15px;
    margin-bottom: 20px; }
    #payment .col-md-12 .pull-left {
      padding-right: 10px; }
      #payment .col-md-12 .pull-left b {
        margin-right: 10px; }
  #payment .col-md-4 {
    background-color: white;
    height: 425px;
    width: 370px;
    overflow: hidden;
    text-align: center;
    color: #40b6ae;
    padding: 10px 0;
    margin-left: 15px;
    margin-bottom: 10px; }
    #payment .col-md-4 h4 {
      color: #40b6ae;
      font-size: 20px; }
    #payment .col-md-4 .picture {
      width: 50%;
      padding-top: 30px; }
    #payment .col-md-4 .color-one {
      padding-top: 24px;
      color: black;
      font-size: 30px; }
    #payment .col-md-4 .color-two {
      padding-top: 50px;
      color: black;
      font-size: 30px;
      padding-bottom: 25px; }
    #payment .col-md-4 .picture-one {
      width: 30%;
      padding-top: 10px;
      padding-bottom: 10px; }
    #payment .col-md-4 .color-three {
      color: black;
      padding-top: 26px;
      width: 250px;
      text-align: left;
      margin: auto; }
    #payment .col-md-4 .center {
      margin-top: 55px;
      height: 50px;
      background-color: #fafafa;
      padding-top: 15px;
      color: black;
      font-weight: bold; }
    #payment .col-md-4 .pull-right {
      background-color: #c4c4c4;
      height: 50px;
      margin-top: -60px;
      color: white;
      width: 50px;
      cursor: pointer;
      padding-top: 15px;
      transition: all ease-in-out 0.1s; }
    #payment .col-md-4 .pull-right:hover {
      background-color: #e9423b; }

/* Lectures */
#lecture {
  background-color: #f6f6f6; }
  #lecture h4 {
    font-size: 25px;
    padding: 20px 0; }
  #lecture .col-md-12 {
    background-color: #fff;
    margin: 0 0 20px 0; }
    #lecture .col-md-12 .box {
      width: 160px;
      height: 160px;
      background-color: silver;
      overflow: hidden;
      border-radius: 50%; }
    #lecture .col-md-12 .media {
      padding-top: 35px;
      padding-bottom: 35px; }
      #lecture .col-md-12 .media h5 {
        font-size: 20px;
        color: #40b6ae; }
    #lecture .col-md-12 .media-body {
      padding-top: 20px;
      padding-left: 30px; }
      #lecture .col-md-12 .media-body p {
        width: 700px;
        padding-top: 20px; }

/* Contact */
#contact {
  background-image: url("http://www.baltictalents.lt/images/new/contact_bg.jpg"); }
  #contact .container {
    background-color: #f5f5f5;
    border-top: 10px solid #40b6ae;
    padding: 20px 100px;
    margin-top: 390px;
    margin-bottom: 50px;
    width: 1145px; }
    #contact .container h4 {
      font-size: 25px;
      padding-bottom: 30px; }
    #contact .container .col-md-6 {
      padding: 0; }
      #contact .container .col-md-6 p {
        margin: 0;
        padding-bottom: 5px; }
      #contact .container .col-md-6 input {
        height: 50px;
        width: 450px;
        overflow: hidden;
        border: 2px solid black;
        margin-bottom: 30px;
        padding-left: 20px; }
      #contact .container .col-md-6 input:focus {
        border-color: #40b6ae;
        outline: none;
        border-left: 10px solid #40b6ae;
        color: #40b6ae; }
    #contact .container input::placeholder {
      color: black;
      font-weight: bold; }
    #contact .container input:focus::placeholder {
      color: #40b6ae; }
    #contact .container input[type=submit] {
      color: #fff;
      font-weight: bold;
      background-color: #e9423b;
      border: none;
      height: 50px;
      width: 450px;
      overflow: hidden;
      margin-left: 240px;
      outline: none; }

/* Courses */
#courses {
  background-color: #f6f6f6;
  padding-bottom: 30px; }
  #courses h4 {
    font-size: 25px;
    padding: 20px 0; }
  #courses .lines {
    cursor: pointer;
    margin-bottom: 30px; }
    #courses .lines .col-md-4 {
      color: white;
      height: 50px;
      overflow: hidden;
      padding: 5px 0 5px 20px;
      background-color: #7f8d9d;
      border-left: 5px solid #40b6ae;
      margin-bottom: 5px; }
      #courses .lines .col-md-4 p {
        padding: 10px;
        font-size: 15px; }
    #courses .lines .col-md-7 {
      background-color: #adb5bf;
      color: white;
      height: 50px;
      overflow: hidden;
      margin-bottom: 5px; }
      #courses .lines .col-md-7 p {
        padding: 15px;
        font-size: 16px; }
    #courses .lines .col-md-1 {
      background-color: #7f8d9d;
      color: white;
      height: 50px;
      overflow: hidden;
      font-size: 20px;
      padding: 15px;
      margin-bottom: 5px; }
      #courses .lines .col-md-1 i {
        margin-left: 25px; }
    #courses .lines .col-md-11 {
      background-color: #adb5bf;
      border-left: 5px solid #7f8d9d;
      color: white;
      font-weight: bold;
      height: 50px;
      overflow: hidden; }
      #courses .lines .col-md-11 p {
        padding: 15px;
        font-size: 16px; }
  #courses .lines:hover .col-md-4 {
    border-left-color: #e9423b; }
  #courses .lines:hover .col-md-1 {
    background-color: #e9423b; }
  #courses .lines:hover .col-md-11 {
    border-left-color: #e9423b; }

/* Footer */
#footer {
  background-color: #009e93;
  color: white;
  height: 100px;
  overflow: hidden; }
  #footer img {
    width: 10%;
    background-color: white; }
  #footer .pull-left {
    padding: 10px; }
    #footer .pull-left p {
      margin-bottom: 0; }
  #footer .pull-right {
    padding-top: 10px; }
    #footer .pull-right a {
      color: white;
      text-decoration: none;
      cursor: pointer;
      font-weight: bold; }
    #footer .pull-right b {
      font-size: 25px;
      margin-left: 70px; }
    #footer .pull-right p {
      margin-bottom: -10px;
      padding-left: 15px; }
    #footer .pull-right i {
      background-color: #fff;
      height: 20px;
      width: 20px;
      padding: 4px;
      color: #009e93;
      margin-top: 17px; }
    #footer .pull-right .fa-facebook {
      padding-left: 5px; }
